@model PortfolioSite.Models.CommentModel

<li class="comment-@Model.Id">
    <figure>
        <svg width="80" height="80" data-jdenticon-value="@Model.Email" class="img-responsive"></svg>
    </figure>
    <section>
        <h4>
            @Model.Username
            @if (Model.Level < 3)
            {
                <a href="javascript:reply('@Model.Username', @Model.Id)" class="reply-btn" value="@Model.Id">Reply</a>
            }
        </h4>
        <div class="date-pan">@Model.FormattedDateSent</div>
        @Model.Content
    </section>

    <ol class="reply-pan">
        @if (Model.Level < 1)
        {
            for (int i = 0; i < ((Model.SubComments.Count() > 2) ? 2 : Model.SubComments.Count()); i++)
            {
                var subComment = Model.SubComments[i];
                subComment.Level = Model.Level + 1;
                @Html.Partial("_Comment", subComment)
            }
            if (Model.SubCommentCount > 1)
            {
        <li class="load-more load-more-@Model.Id comment-action">
            <a href="javascript:loadMoreComments(@Model.Id, @Model.Level, 1)" class="load-more-btn text-center"><i class="fa"></i>See Replies</a>
        </li>
            }
        }
        else
        {
            if (Model.SubCommentCount > 0)
            {
        <li class="load-more load-more-@Model.Id comment-action">
            <a href="javascript:loadMoreComments(@Model.Id, @Model.Level, 1)" class="load-more-btn text-center"><i class="fa"></i>See Replies</a>
        </li>
            }
        }
    </ol>
</li>

@Scripts.Render("~/Scripts/jdenticon-1.8.0.js")