@model PortfolioSite.Models.CommentsModel
@using CaptchaMvc.HtmlHelpers

 <!-- Comments -->
<div class="comments-pan">
    <h3>@Model.CommentCount Comments</h3>
    <ul class="comments-reply">
        @for(int i=0;i<@Model.CommentCount;i++)
        {
            @Html.Partial("_Comment", @Model.Comments[i])
        }
    </ul>
    <!--Comment Form-->
    <div class="commentys-form">
        <h4>Leave a comment</h4>
        <div class="row">
            <form action="" method="get">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <input name="" id="username" type="text" placeholder="Whats your name *">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <input name="" id="email-value" type="email" placeholder="Whats your email *">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <textarea name="" id="comment-text" cols="" rows="" placeholder="Whats on your mind"></textarea>
                </div>
                <div class="comment-captcha">
                    @Html.Captcha(5)
                </div>
                <div class="text-center">
                    <input name="" id="add-comment" type="button" value="Post Comment">
                </div>
            </form>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/messaging.js")
@Scripts.Render("~/Scripts/comments.js")